body {
margin:0;
font-family:'Poppins', sans-serif;
}



.navbar {
position: fixed;
top:0;
width:100%;
background:black;
padding:15px;
z-index:1000;
}

.navbar a {
color:white;
margin:10px;
text-decoration:none;
}

.navbar a:hover {
color:orange;
}



.parallax {
min-height:500px;
display:flex;
justify-content:center;
align-items:center;
color:white;
font-size:40px;
text-align:center;

background-attachment: fixed;
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}



.bg1 {
background-image:url("images/bg1.jpg");
}

.bg2 {
background-image:url("images/bg2.jpg");
}

.bg3 {
background-image:url("images/bg3.jpg");
}



.content {
padding:80px 20px;
text-align:center;
background:white;
}



table {
margin:auto;
border-collapse: collapse;
}

td, th {
border:1px solid black;
padding:10px;
}



footer {
background:black;
color:white;
text-align:center;
padding:20px;
}

/* RESPONSIVE */

@media (max-width:768px){

.parallax {
font-size:25px;
min-height:300px;
}

.navbar {
text-align:center;
}

}
