body{
font-family:Lato, sans-serif;
margin:0;
}

.top{
position:fixed;
width:100%;
background:white;
z-index:10;
}

.navbar{
display:flex;
gap:20px;
padding:15px;
}

.navbar a{
text-decoration:none;
color:black;
}

.content{
max-width:1000px;
margin:auto;
}

.container{
padding:64px 20px;
}

.center{
text-align:center;
}

.row{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.col{
flex:1;
}

.bar{
background:#eee;
margin-bottom:15px;
}

.fill{
background:#333;
color:white;
text-align:center;
}

.stats{
display:flex;
justify-content:space-around;
background:#333;
color:white;
padding:20px;
text-align:center;
}

.parallax{
background-attachment:fixed;
background-position:center;
background-repeat:no-repeat;
background-size:cover;
min-height:400px;
position:relative;
}

.bgimg-1{
background-image:url("images/bg1.jpg");
}

.bgimg-2{
background-image:url("images/bg1.jpg");
}

.bgimg-3{
background-image:url("images/bg1.jpg");
}

.middle{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.title-box{
background:black;
color:white;
padding:20px;
}

.title-white{
color:white;
font-size:30px;
}

.gallery{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

.gallery img{
width:100%;
}

footer{
background:pink;
color:black;
padding:16px;
text-align:center;
}
